<%- include('../partials/header') %>
<div class="container">


<div id="signin">
    <h1>Register</h1>
    <form action="" method="POST">    
        <div class="form-floating mb-3">
            <input type="email" name = "username" class="form-control" id="username" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input name = "password"type="password" class="form-control" id="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
    </div>
        <div class="button">
            <button type ="submit" class ="btn btn-dark">Register</button>
        </div>
    </form>
</div>
 
</div>



<%- include('../partials/footer') %>