<%- include('partials/header') %>
<div class="container">


<div id="signin">
    <h1>Its admin only action<br> please sign in to confirm your identity</h1>
    <form action="/admin" method="POST">    
        <div class="form-floating mb-3">
            <input type="email" name="username" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" name ="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
    </div>
        <div class="button">
            <button type ="submit" class ="btn btn-dark">Sign In</button>
        </div>
    </form>
</div>
 
</div>



<%- include('partials/footer') %>